In [1]:
import pandas as pd
from datetime import datetime
from icecream import ic
import json

In [2]:
folder_path = "/mnt/data/amazon-review-v2/"
file_name = "AMAZON_FASHION.json"

In [3]:
with open(folder_path + file_name) as f:
    # read json file to dict
    data = json.load(f)
    #data = pd.read_json(f, lines=True)
    
data = pd.json_normalize(data)#, "style", ['Size', 'Color'])
ic(len(data))
data.head()

TypeError: string indices must be integers

In [4]:
#group by asin
grouped = data.groupby('asin')
ic(len(grouped))
grouped.head()
ic(data['asin'].nunique())

ic| len(grouped): 186189
ic| data['asin'].nunique(): 186189

186189

In [5]:
# group by reviewerID
grouped = data.groupby('reviewerID')
ic(len(grouped))
grouped.head()
# count unique reviewerID
ic(data['reviewerID'].nunique())

ic| len(grouped): 749233
ic| data['reviewerID'].nunique(): 749233

749233

In [8]:
# convert reviewTime from M D,Y to datetime (POSIX time)
#timestamp_format = '%m %d, %Y'
#format_fn = lambda x: int(datetime.strptime(x, timestamp_format).timestamp())
#data['reviewTime'] = data['reviewTime'].apply(format_fn)
#data['reviewTime'] = pd.to_datetime(data['reviewTime'], format='%m %d, %Y')
# rename src and dest
data.rename(columns={'reviewerID': 'From ID', 'asin': 'To ID'}, inplace=True)
# style column is a json object, convert each key to a column

ic(data.tail())
data

ic| data.tail():         overall  verified   reviewTime         From ID       To ID  \
                 883631        5      True  02 21, 2017  A1ZSB2Q144UTEY  B01HJHTH5U
                 883632        5      True  11 25, 2016  A2CCDV0J5VB6F2  B01HJHTH5U
                 883633        3      True  11 10, 2016  A3O90PACS7B61K  B01HJHTH5U
                 883634        3      True  11 10, 2016  A2HO94I89U3LNH  B01HJHF97K
                 883635        5      True   08 9, 2016  A2RSX9E79DUHRX  B01HJG5NMW

                                reviewerName  \
                 883631      Amazon Customer
                 883632      Amazon Customer
                 883633             Fabfifty
                 883634               Mgomez
                 883635  Natasha Mascarenhas

                                                                reviewText  \
                 883631  I absolutely love this dress!!  It's sexy and ...
                 883632  I'm 5'6 175lbs. I'm on the tall side. I wear a...
                 883633                         Too big in the chest area!
                 883634                Too clear in the back, needs lining
                 883635  Ordered and was slightly small. Worked with th...

                                                                   summary  unixReviewTime  \
                 883631                       I absolutely love this dress      1487635200
                 883632  I wear a large and ordered a large and it stil...      1480032000
                 883633                                        Three Stars      1478736000
                 883634                                        Three Stars      1478736000
                 883635         The quality is excellent and it is so cute      1470700800

                         vote style image
                 883631   NaN   NaN   NaN
                 883632   2.0   NaN   NaN
                 883633   NaN   NaN   NaN
                 883634   NaN   NaN   NaN
                 883635   NaN   NaN   NaN

,overall,verified,reviewTime,From ID,To ID,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883631,5,True,"02 21, 2017",A1ZSB2Q144UTEY,B01HJHTH5U,Amazon Customer,I absolutely love this dress!! It's sexy and ...,I absolutely love this dress,1487635200,NaN,NaN,NaN
883632,5,True,"11 25, 2016",A2CCDV0J5VB6F2,B01HJHTH5U,Amazon Customer,I'm 5'6 175lbs. I'm on the tall side. I wear a...,I wear a large and ordered a large and it stil...,1480032000,2.0,NaN,NaN
883633,3,True,"11 10, 2016",A3O90PACS7B61K,B01HJHTH5U,Fabfifty,Too big in the chest area!,Three Stars,1478736000,NaN,NaN,NaN
883634,3,True,"11 10, 2016",A2HO94I89U3LNH,B01HJHF97K,Mgomez,"Too clear in the back, needs lining",Three Stars,1478736000,NaN,NaN,NaN
883635,5,True,"08 9, 2016",A2RSX9E79DUHRX,B01HJG5NMW,Natasha Mascarenhas,Ordered and was slightly small. Worked with th...,The quality is excellent and it is so cute,1470700800,NaN,NaN,NaN

In [33]:
# store the data in a csv file
data.to_csv(folder_path + file_name + ".csv", index=False)

In [35]:
with open(folder_path + file_name + ".csv") as f:
    preprocessed_data = pd.read_csv(f)
ic(preprocessed_data.head())
ic(len(preprocessed_data))

ic| data.head():    overall  verified   reviewTime         From ID       To ID  reviewerName  \
                 0        5      True  10 20, 2014  A1D4G1SNUZWQOT  7106116521         Tracy
                 1        2      True  09 28, 2014  A3DDWDH9PX2YX2  7106116521     Sonja Lau
                 2        4     False  08 25, 2014  A2MWC41EW7XL15  7106116521      Kathleen
                 3        2      True  08 24, 2014  A2UH2QQ275NV45  7106116521   Jodi Stoner
                 4        3     False  07 27, 2014   A89F3LQADZBS5  7106116521  Alexander D.

                                                           reviewText  \
                 0                             Exactly what I needed.
                 1  I agree with the other review, the opening is ...
                 2  Love these... I am going to order another pack...
                 3                                too tiny an opening
                 4                                               Okay

                                                              summary  unixReviewTime  vote  \
                 0                             perfect replacements!!      1413763200   NaN
                 1  I agree with the other review, the opening is ...      1411862400   3.0
                 2                                My New 'Friends' !!      1408924800   NaN
                 3                                          Two Stars      1408838400   NaN
                 4                                        Three Stars      1406419200   NaN

                   style image
                 0   NaN   NaN
                 1   NaN   NaN
                 2   NaN   NaN
                 3   NaN   NaN
                 4   NaN   NaN
ic| len(data): 883636

883636