In [25]:
import pandas as pd
from datetime import datetime
from icecream import ic

In [26]:
folder_path = "/mnt/data/amazon-review-v2/"
file_name = "AMAZON_FASHION.json"

In [36]:
with open(folder_path + file_name) as f:
    data = pd.read_json(f, lines=True)
ic(len(data))
data.head()

ic| len(data): 883636

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [28]:
#group by asin
grouped = data.groupby('asin')
ic(len(grouped))
grouped.head()
ic(data['asin'].nunique())

ic| len(grouped): 186189
ic| data['asin'].nunique(): 186189

186189

In [29]:
# group by reviewerID
grouped = data.groupby('reviewerID')
ic(len(grouped))
grouped.head()
# count unique reviewerID
ic(data['reviewerID'].nunique())

ic| len(grouped): 749233
ic| data['reviewerID'].nunique(): 749233

749233

In [32]:
# convert reviewTime from M D,Y to datetime (POSIX time)
#timestamp_format = '%m %d, %Y'
#format_fn = lambda x: int(datetime.strptime(x, timestamp_format).timestamp())
#data['reviewTime'] = data['reviewTime'].apply(format_fn)
#data['reviewTime'] = pd.to_datetime(data['reviewTime'], format='%m %d, %Y')
# rename src and dest
data.rename(columns={'reviewerID': 'From ID', 'asin': 'To ID'}, inplace=True)
ic(data.head())

ic| data.head():    overall  verified   reviewTime         From ID       To ID  reviewerName  \
                 0        5      True  10 20, 2014  A1D4G1SNUZWQOT  7106116521         Tracy
                 1        2      True  09 28, 2014  A3DDWDH9PX2YX2  7106116521     Sonja Lau
                 2        4     False  08 25, 2014  A2MWC41EW7XL15  7106116521      Kathleen
                 3        2      True  08 24, 2014  A2UH2QQ275NV45  7106116521   Jodi Stoner
                 4        3     False  07 27, 2014   A89F3LQADZBS5  7106116521  Alexander D.

                                                           reviewText  \
                 0                             Exactly what I needed.
                 1  I agree with the other review, the opening is ...
                 2  Love these... I am going to order another pack...
                 3                                too tiny an opening
                 4                                               Okay

                                                              summary  unixReviewTime  vote  \
                 0                             perfect replacements!!      1413763200   NaN
                 1  I agree with the other review, the opening is ...      1411862400   3.0
                 2                                My New 'Friends' !!      1408924800   NaN
                 3                                          Two Stars      1408838400   NaN
                 4                                        Three Stars      1406419200   NaN

                   style image
                 0   NaN   NaN
                 1   NaN   NaN
                 2   NaN   NaN
                 3   NaN   NaN
                 4   NaN   NaN

,overall,verified,reviewTime,From ID,To ID,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3.0,NaN,NaN
2,4,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [33]:
# store the data in a csv file
data.to_csv(folder_path + file_name + ".csv", index=False)

In [35]:
with open(folder_path + file_name + ".csv") as f:
    preprocessed_data = pd.read_csv(f)
ic(preprocessed_data.head())
ic(len(preprocessed_data))

ic| data.head():    overall  verified   reviewTime         From ID       To ID  reviewerName  \
                 0        5      True  10 20, 2014  A1D4G1SNUZWQOT  7106116521         Tracy
                 1        2      True  09 28, 2014  A3DDWDH9PX2YX2  7106116521     Sonja Lau
                 2        4     False  08 25, 2014  A2MWC41EW7XL15  7106116521      Kathleen
                 3        2      True  08 24, 2014  A2UH2QQ275NV45  7106116521   Jodi Stoner
                 4        3     False  07 27, 2014   A89F3LQADZBS5  7106116521  Alexander D.

                                                           reviewText  \
                 0                             Exactly what I needed.
                 1  I agree with the other review, the opening is ...
                 2  Love these... I am going to order another pack...
                 3                                too tiny an opening
                 4                                               Okay

                                                              summary  unixReviewTime  vote  \
                 0                             perfect replacements!!      1413763200   NaN
                 1  I agree with the other review, the opening is ...      1411862400   3.0
                 2                                My New 'Friends' !!      1408924800   NaN
                 3                                          Two Stars      1408838400   NaN
                 4                                        Three Stars      1406419200   NaN

                   style image
                 0   NaN   NaN
                 1   NaN   NaN
                 2   NaN   NaN
                 3   NaN   NaN
                 4   NaN   NaN
ic| len(data): 883636

883636